.close {
  margin-left: 20px;
  margin-top: 20px;
}

.registerTip {
  text-align: center;

  span {
    color: rgb(86, 140, 234)
  }
}

.loginTip {
  text-align: center;

  span {
    color: rgb(86, 140, 234)
  }
}